/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2023, 12:57:38 PM
    Author     : gusta
*/

.root{
    -fx-background-color: #EEEEEE;
}

.container{
    -fx-background-color: #132A12;
    -fx-alignment:center;
    -fx-spacing: 30;
}

.container_text{
    -fx-font-size: 3em;
    -fx-fill: white;
}

.container Button{
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: white;
    -fx-text-fill: #132A12;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0,0,3);
}